_gh_pages
build
dist
_dist
/semantic

.ruby-version
.pug-cache

projects*.yml

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Folders to ignore
node_modules
bundles

# Build artifacts
bundle.js
.jekyll-metadata
*bundle.js*
