/* MATSim accessibility visualizer */

/* v-cloak hides stuff until Vue finishes loading */
[v-cloak] {
  display: none;
}

html,body { width:100%; height:100%;
  font-family: Noto,Arial;
}

body {
  margin: 0px 0px 0px 0px;
  height:100%;
}

#page-content {
  display: flex;
  flex-direction: column;
  height:100%;
}

#titlebar {
  background-color:#368;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0,0,0, 0.3);
  z-index: 1000;
}

#mymap {
  flex: 1;
  background: #eee;
  height: 100%;
  touch-action: none;

}

#legend {
  position: absolute;
  bottom:0;
  left:0;
  margin-bottom:8px;
  margin-left:8px;
  z-index:99;
  background: white;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 6px 8px;
  font: Arial, Helvetica, sans-serif;
  font-size: 110%;
}

.legend h4 {
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.legend i {
    width: 1rem;
    height: 1rem;
    float: left;
    margin-right: 0.25rem;
    opacity: 1;
}

p.legend-row {
  margin-bottom: 3px;
  color: #666;
}

h2 {
  color: #fff;
}

.mapboxgl-popup-content h4 {
  margin-top: 4px;
}

#description-panel {
  color: #ccc;
  margin-bottom: 8px;
}

p.popup-value {
  margin-bottom: 2px;
}

.page {height: 100%}

.content {
  height: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 288px;
  margin-right: 0px;
}

/* ------------------- PHONE LAYOUT TWEAKS ----------------- */

@media only screen and (max-device-width: 480px) {

   .ui.dropdown>.text {
     font-size: 80%;
  }

  #description-panel {
    font-size: 80%;
  }

}
