/* MATSim accessibility visualizer */

html,body { width:100%; height:100%;
  font-family: Oswald,Arial;
}

body {
  margin: 0px 0px 0px 0px;
  height:100%;
}

.container {height: 100%}

#mymap {
  height: 100%;
  overflow: hidden;
  background: #eee;
}

.content {
  height: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 288px;
  margin-right: 0px;
}

.fill {
  flex: 1;
  overflow: hidden;
}

.page {
  height: 100%; padding-bottom: 0px; margin-bottom: 0px;
}

